# Bỏ qua các thư mục của Chrome
AppData/

# Bỏ qua các thư mục Node modules
node_modules/

# Bỏ qua các file log, cache, tệp tạm
*.log
*.tmp
*.bak
*.swp
*.pyc
__pycache__/

# Các thư mục tạm khác
.DS_Store
Thumbs.db
